@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

* {
    margin: 0;
}

.warning {
    background: red;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    position: absolute;
    top: 4px;
    left: 300px;
    opacity: 0.8;
}